# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\C0820G1\myPortfolio-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
